option_settings:
aws:elasticbeanstalk:container:dotnet:apppool:
Enable 32Bit Applications: false
aws:elasticbeanstalk:application:environment:
ASPNETCORE_ENVIRONMENT: Production
AWS_REGION: us-east-1
# RDS SQL Server Connection String
RDS_CONNECTION_STRING: "Server=database-1.cc10awc2a8b4.us-east-1.rds.amazonaws.com,1433;Database=PodcastDB;User Id=admin;Password="";TrustServerCertificate=true;Encrypt=true;"