commands:
  01_remove_webdav_module:
    command: '%SystemRoot%\System32\inetsrv\appcmd.exe set config -section:system.webServer/modules /-[name=''WebDAVModule'']'
    ignoreErrors: true
  02_remove_webdav_handler:
    command: '%SystemRoot%\System32\inetsrv\appcmd.exe set config -section:system.webServer/handlers /-[name=''WebDAV'']'
    ignoreErrors: true
  03_unlock_handlers:
    command: '%SystemRoot%\System32\inetsrv\appcmd.exe unlock config -section:system.webServer/handlers'
    ignoreErrors: true
  04_allow_verbs:
    command: 'C:\Windows\System32\inetsrv\appcmd.exe set config -section:system.webServer/security/requestFiltering /+verbs.[verb=''PUT'',allowed=''true''] /commit:apphost'
    ignoreErrors: true
  05_allow_delete:
    command: 'C:\Windows\System32\inetsrv\appcmd.exe set config -section:system.webServer/security/requestFiltering /+verbs.[verb=''DELETE'',allowed=''true''] /commit:apphost'
    ignoreErrors: true

files:
  "c:\\inetpub\\wwwroot\\logs\\.gitkeep":
    content: |
      # Ensure logs directory exists