<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="API Routes" stopProcessing="true">
            <match url="^api/.*" />
            <action type="None" />
          </rule>
          <rule name="Static Files" stopProcessing="true">
            <match url="^(css|js|images|lib)/.*" />
            <action type="None" />
          </rule>
          <rule name="SPA Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>
        </rules>
      </rewrite>
      
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      
      <aspNetCore processPath="dotnet" 
                  arguments=".\PodcastWebApp.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess"
                  forwardWindowsAuthToken="false"
                  stdoutLogEnabled="true">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
        </environmentVariables>
      </aspNetCore>
      
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      
      <!-- Show detailed errors -->
      <httpErrors errorMode="Detailed" />
      
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="524288000" />
          <verbs>
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="PATCH" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  
  <!-- Enable detailed error pages -->
  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration>